.bg-black {
  background-color: black;
}

.bg-chat {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #e82402 0%, #000010 100%);
}

:host {
  height: calc(90%);
  width: calc(100%);
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

textarea {
  resize: none !important;
}

.chat-search {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  width: 20%;
  height: 100%;
}

.chat {
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.card {
  border-radius: 15px;
  background-color: rgba(22, 4, 4, 0.8);
}

.contacts_body {
  padding: 0.75rem 0;
  overflow-y: auto;
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
  margin-bottom: 10%;
}

.card-header {
  border-radius: 15px 15px 0 0;
  border-bottom: 0;
}

.card-footer {
  border-radius: 0 0 15px 15px;
  border-top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.search {
  border-radius: 15px 0 0 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
}

.search:focus {
  box-shadow: none;
  outline: 0;
}

.font_1{
  color: #ffffff;
  font-size: 60px;
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: white;
  height: 60px;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none;
  outline: 0;
}

.attach_btn {
  border-radius: 15px 0 0 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: white;
  cursor: pointer;
}

.send_btn {
  border-radius: 0 15px 15px 0;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: white;
  cursor: pointer;
}

.search_btn {
  border-radius: 0 15px 15px 0;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: white;
  cursor: pointer;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.active {
  background-color: rgba(0, 255, 196, 0.3);
  border-radius: 20px;
}

.user_img {
  height: 70px;
  width: 70px;
  border: 2px solid #f5f6fa;

}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 2px solid #f5f6fa;

}

.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;

}

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 2px solid white;
}

.offline {
  background-color: #c23616;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_info span {
  font-size: 20px;
  color: white;
}

.user_info p, .user_info p span {
  font-size: 12px;
  color: rgb(243, 248, 13);
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 50px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  word-break: break-all;
}

.typing_container{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 50px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  word-break: break-all;
  color: white;
  font-size: 25px;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 50px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
  word-break: break-all;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: #ff5900;
  font-size: 12px;
  width: 150px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -20px;
  color: #00ffcd;
  font-size: 12px;
  width: 60px;
}

.msg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.action_menu ul li i {
  padding-right: 10px;
}

.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

#message_inbox {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px;
  }
}
