<div flex class="mat-content" *ngIf="loadedProfile && loadedProfileInfo | async">
    <mat-card>
        <div class="card-title-container">
            <p class="card-title-text">{{userData.username}} profile</p>
        </div>
        <div class="user-data-container">
            <div class="user-presentation-card">
                <img class="user-profile-picture" src="{{userData.avatarLink}}" alt="image">
            </div>
            <div class="user-general-data">
                <div class="card-data-component">
                    <p class="card-text">Firstname: {{userData.firstName}}</p>
                </div>
                <div class="card-data-component">
                    <p class="card-text">Lastname: {{userData.lastName}}</p>
                </div>
                <div class="card-data-component">
                    <p class="card-text">Email: {{userData.email}}</p>
                </div>
                <div class="card-data-component">
                    <p class="card-text">Birthdate: {{userProfileData.birthdate}}</p>
                </div>
                <div class="card-data-component">
                    <p class="card-text">Gender: {{userProfileData.gender}}</p>
                </div>
                <div class="card-data-component">
                    <p class="card-text">Country: {{userProfileData.country}}</p>
                </div>
                <div class="card-data-component">
                    <p class="card-text">City: {{userProfileData.city}}</p>
                </div>
                <div class="card-data-component">
                    <p class="card-text">Registered data: {{userProfileData.dataRegistered}}</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>
