:host {
    height: calc(90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-content{
    width: 80%;
}

mat-card {
    background-color: rgb(232, 247, 253);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 23, 87, 0.2);
}

.card-data-component{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    background-color: #fff6f5;
    border-bottom: 1px solid #ff8275;
    border-top: 1px solid #ff8275;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-title-text{
    font-size: 30px;
    font-weight: bold;
    font-family: "Open Sans", serif;
    margin-bottom: 2vh;
    margin-top: 1vh;
    color: #BC060B;
}

.card-text-static{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.card-text-dynamic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 18px;
    font-weight: normal;
    font-family: "Tahoma", sans-serif;
    color: #19b300;
}

.card-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid gray;
    padding-top: 1vh;
    margin-bottom: 2vh;
}
.user-general-data {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-data-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-text{
    font-size: 20px;
    color: #5B5AFD;
    letter-spacing: 1px;
}

.text-padding{
    padding: 5px;
}

.user-presentation-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 10px;
    padding-top: 20px;
    margin-right: 10px;
}

.user-profile-picture{
    border: 1px solid #ff8275;
    width: 250px;
    height: 250px;
    margin-bottom: 2%;
}

.user-presentation-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    max-height: 200px;
}
