<div class="container-fluid main p-3 small-panel">
  <div class="row cont">
    <div class="col-4 p-4 ">
      <div class="card text-center p-2 usr-card">
        <img class="card-img-top card-usr-img-top" src="{{user.avatarLink}}" alt="Profile image"
             (click)="redirectToProfile(user.uid)">
        <div class="card-body">
          <h2 class="card-title">{{user.firstName}} {{user.lastName}}</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">@{{user.username}}</li>
          <li class="list-group-item">{{user.email}}</li>
        </ul>
      </div>
    </div>

    <div class="col-8 pt-4 big-panel">
      <h1 class="cent">Friends</h1>
      <hr>
      <div *ngIf="loadedFriends | async">
        <div *ngIf="friends?.length==0;else display_friends">
          <div>No friends</div>
          <div class="text-center"><img src="assets/images/users.svg" alt="users" width="300" height="300"/></div>
        </div>
        <ng-template #display_friends>
          <div class=" form-inline d-flex justify-content-center p-5">
            <input class="form-control form-control mr-3 w-50" type="text" placeholder="Search" aria-label="Search"
                   [(ngModel)]="searchText"> <i class="fas fa-search" aria-hidden="true"></i>
          </div>
          <div class="card-columns custom-columns">
            <div *ngFor="let friend of friends;">
              <div class="card text-center shadow-sm p-2 mb-5 bg-white rounded user-card"
                   *ngIf="(friend.firstName).toLowerCase().includes(searchText.toLowerCase()) ||
               (friend.lastName).toLowerCase().includes(searchText.toLowerCase()) ||
                (friend.username).toLowerCase().includes(searchText.toLowerCase())">
                <img class="card-img-top " src="{{friend.avatarLink}}" alt="Profile image"
                     (click)="redirectToProfile(friend.uid)">
                <div class="card-body">
                  <h3 class="card-title">{{friend.firstName}} {{friend.lastName}}</h3>
                  <p class="card-text">@{{friend.username}}</p>
                  <button name="view" class="btn btn-success btn-sm" (click)="redirectToProfile(friend.uid)">View
                  </button>
                  <button name="delete" class="btn btn-danger btn-sm"
                          (click)="deleteFriend(friend.firstName, friend.uid)">Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
