<div flex class="mat-content">
  <mat-card>
    <div class="container p-5">
      <div class="row">
        <div class="col-3">
          <button type="button" class="btn btn-outline-secondary" (click)="redirectToAddFriends()">Add friends</button>
        </div>
        <div class="col">
          <div class="form-inline">
            <input class="form-control form-control mr-3 w-75" type="text" placeholder="Search" aria-label="Search"
                   [(ngModel)]="searchText"> <i class="fas fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-columns">
        <div *ngFor="let friend of friends;">
          <div class="card text-center shadow-sm p-3 mb-5 bg-white rounded my-card"
               *ngIf="(friend.firstName).toLowerCase().includes(searchText.toLowerCase()) ||
               (friend.lastName).toLowerCase().includes(searchText.toLowerCase()) ||
                (friend.username).toLowerCase().includes(searchText.toLowerCase())">
            <img class="card-img-top " src="{{friend.avatarLink}}" alt="Profile image"
                 (click)="redirectToProfile(friend.uid)">
            <div class="card-body">
              <h3 class="card-title">{{friend.firstName}} {{friend.lastName}}</h3>
              <p class="card-text">@{{friend.username}}</p>
              <button name="view" class="btn btn-success btn-sm" (click)="redirectToProfile(friend.uid)">View
              </button>
              <button name="block" class="btn btn-warning btn-sm"
                      (click)="blockFriend(friend.firstName, friend.uid)">Block
              </button>
              <button name="delete" class="btn btn-danger btn-sm"
                      (click)="deleteFriend(friend.firstName, friend.uid)">Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>


