.authentication-container {
  width: 50%;
  max-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 23, 87, 0.08);
  border-radius: 10px;
  background-color: white;
}

.authentication-title{
  font-size: 30px;
  font-family: "Open Sans", serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

:host {
  height: calc(90%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  max-height: 450px;
  width: 700px;
}

.authentication-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.authentication-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3%;
}

.authenticate-button{
  background-color: rgb(255, 77, 77);
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 15%;
  height: 40px;
  border-radius: 8px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: azure;
}

.not-registered  {
  width: 30%;
  font-family: "Open Sans", serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.register-checkbox {
  margin-right: 2%;
}

.error-alert {
  background-color: pink;
  color: red;
  border-radius: 8px;
  display: flex;
  padding: 10px;
}

.input-text{
  width: 250px;
  border: 1px solid gray;
  border-left: none;
  height: 34px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-icon{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid gray;
  border-right: none;
  height: 10px;
}

@media only screen and (max-width: 760px) {
  .input-text{
    width: 100px;
  }
  .form-container{
    max-width: 400px;
    max-height: 300px;
  }
  .authenticate-button{
    width: 100px;
  }
  .not-registered {
    width: 100%;
  }
}

@media only screen and (max-width: 1325px) {
  .authenticate-img{
    display: none;
  }
  .authentication-container{
    width: 85%;
    max-height: 95vh;
    box-shadow: 0 0 8px rgba(0, 23, 87, 0.8);
  }

  :host {
    overflow-y: auto;
    overflow-x: hidden;
  }
  router-outlet{
    display: none;
    height: 0;
  }
  .authenticate-button{
    margin: 0;
  }
}
