  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-raised-button (click)="goToHomePage()" >
            MyMess
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="goToInboxPage()" >
            <mat-icon>chat</mat-icon>Inbox
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="goToNotificationPage()">
            <mat-icon>notifications-none</mat-icon>Notifications
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="goToFriendsPage()">
            <mat-icon>group</mat-icon>Friends
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="goToProfilePage()">
          <mat-icon>person-outline</mat-icon>Profile
        </button>
        <button *ngIf="isUserLoggedIn(); else login" mat-raised-button color="warn"  (click)="logout()">
            <mat-icon>logout</mat-icon>Log out
        </button>
        <ng-template #login>
          <button mat-raised-button  (click)="goToLoginPage()">
            <mat-icon>login</mat-icon>Log In
          </button>
        </ng-template>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
