button{
  flex:1;
  border-radius: 0;
  color: white;
  background-color: rgb(62, 6, 11);
  border: 0;
  outline: 0;
}
mat-toolbar-row{
  margin: 0;
  padding: 0;
}
mat-toolbar-row{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
