  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-raised-button color="warn">
            MyMess
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn">
            <mat-icon>chat</mat-icon>Inbox
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn">
            <mat-icon>notifications-none</mat-icon>Notifications
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn">
            <mat-icon>group</mat-icon>Friends
        </button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="warn">
          <mat-icon>person-outline</mat-icon>Profile
        </button>
        <button mat-raised-button color="warn">
            <mat-icon>login</mat-icon>Log Out
          </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>