<div class="container-fluid main p-3">
  <div class="row cont">
    <div class="col-4 p-4">
      <div class="card text-center p-2 usr-card">
        <img class="card-img-top card-usr-img-top" src="{{user.avatarLink}}" alt="Profile image"
             (click)="redirectToProfile(user.uid)">
        <div class="card-body">
          <h2 class="card-title">{{user.firstName}} {{user.lastName}}</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">@{{user.username}}</li>
          <li class="list-group-item">{{user.email}}</li>
        </ul>
      </div>
    </div>
    <div class="col-8 pt-4 big-panel">
      <h1 class="cent">People</h1>
      <hr>
      <div class=" form-inline d-flex justify-content-center p-5">
        <input class="form-control form-control mr-3 w-50" type="text" placeholder="Search" aria-label="Search"
               [(ngModel)]="searchText"> <i class="fas fa-search" aria-hidden="true"></i>
      </div>
      <div *ngIf="loadingPeople==false && loadingRequestsIds==false;else is_loading">
        <div class="card-columns">

          <div *ngFor="let person of people;">
            <div class="card  text-center shadow-sm p-3 mb-5 bg-white rounded user-card"
                 *ngIf="(person.firstName).toLowerCase().includes(searchText.toLowerCase()) ||
               (person.lastName).toLowerCase().includes(searchText.toLowerCase()) ||
                (person.username).toLowerCase().includes(searchText.toLowerCase())">
              <img class="card-img-top " src="{{person.avatarLink}}" alt="Profile image"
                   (click)="redirectToProfile(person.uid)">
              <div class="card-body">
                <h3 class="card-title">{{person.firstName}} {{person.lastName}}</h3>
                <p class="card-text">@{{person.username}}</p>
                <button name="view" class="btn btn-outline-dark btn-sm" (click)="redirectToProfile(person.uid)">View
                </button>
                <button name="delete" class="btn btn-outline-dark btn-sm"
                        (click)="sendRequest(person.uid)"
                        [disabled]="sentRequests.sentFriendRequestList.includes(person.uid)">
                  <i class="fa fa-user-plus"></i>&nbsp;Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #is_loading>
        <app-loading></app-loading>
      </ng-template>
    </div>
  </div>
</div>

