:host {
    height: calc(90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 23, 87, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mat-content{
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-title-text{
    font-size: 30px;
    font-weight: bold;
    font-family: "Open Sans", serif;
    margin-bottom: 3vh;
    margin-top: 1vh;
    color: #BC060B
}

.card-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid gray;
    padding-top: 1vh;
    margin-bottom: 2vh;
    width: 100%;
}

.input-text-update-data{
    margin: 10px;
    width: 300px;
}

.container-update-data{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    max-height: 500px;
    width: 70%;
}

.container-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
}

.container-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 70%;
}

.container-user-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 30%;
}

mat-form-field .mat-form-field-appearance-outline {
    color: #BC060B;
}

.button {
    font-size: 20px;
    padding: 3px;
    outline: 0;
    cursor: pointer;
    width: 150px;
}

.button-profile-picture{
    font-size: 20px;
    padding: 5px 20px;
    outline: 0;
    cursor: pointer;
}

.user-profile-picture{
    border: 5px solid white;
  padding: 10px;
    width: 300px;
    height: 300px;
    margin-bottom: 5%;
    border-radius: 15px;
}

@media only screen and (max-width: 1350px) {
    :host {
        height: 110vh;
    }

    .card-title-text{
        font-size: 25px;
    }

    .mat-content{
        margin-top: 15vh;
    }

    .container-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 100%;
    }
    .container-user-picture{
        margin-top: 3vh;
    }
    .container-user-info {
        width: 100%;
    }
    .container-update-data{
        width: 100%;
    }

    router-outlet{
        display: none;
        height: 0;
    }
}

@media only screen and (max-width: 600px) {
    :host {
        height: 110vh;
    }

    html {
        overflow-x: hidden;
    }

    .card-title-text{
        font-size: 20px;
    }

    .mat-content{
        margin-top: 50vh;
    }
    .container-update-data{
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: none;
    }
}

@media only screen and (max-width: 1300px) and (max-height: 850px) {
    .mat-content{
        margin-top: 30vh;
    }
}

@media only screen and (max-width: 1000px) {

    .button-profile-picture{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .input-text-update-data {
        margin: 5px;
        width: 200px;
    }
    .mat-content{
        margin-top: 30vh;
    }
}

@media only screen and (max-height:750px){
    .mat-content{
        margin-top: 40vh;
    }
}

@media only screen and (max-height:710px){
    .mat-content{
        margin-top: 50vh;
    }
}
@media only screen and (max-height:650px){
    .mat-content{
        margin-top: 70vh;
    }
}

@media only screen and (max-height:570px){
    .mat-content{
        margin-top: 90vh;
    }
}

@media only screen and (max-height:900px) and (max-width: 600px){
    .mat-content{
        margin-top: 65vh;
    }
}

@media only screen and (max-width: 400px) {

    .button-profile-picture{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .mat-content{
        margin-top: 60vh;
    }
    .input-text-update-data {
        margin: 5px;
        width: 200px;
    }
    .user-profile-picture{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .mat-content{
        margin-top: 80vh;
    }
}
